<ng-container *ngIf="isLoadingFeaturedPlaylists; else showFeaturedPlaylists">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-template #showFeaturedPlaylists>
  <mat-card class="example-card" *ngFor="let playlist of featuredPlaylists; trackBy: trackByPlaylistId">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{playlist.name}}</mat-card-title>
      <mat-card-subtitle>{{playlist.kind}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="playlist.artwork" [alt]="playlist.name">
    <mat-card-content>
      <p>
       Curator name: {{playlist.curator_name}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a [href]="playlist.url" target="_blank" rel="noreferrer nofollow">
        <button mat-button>Open</button>
      </a>
    </mat-card-actions>
  </mat-card>
</ng-template>
